@using vandals.Models
@{
    Layout = null;
    ViewBag.Title = "Wall";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @for (int i = 0; i < ViewBag.Array.Count; i++)
    {
        <p>@ViewBag.Array[i].Text</p>
    }
</div>
</body>
</html>
